body{
  padding: 15px;
}
#praisal-input textarea{
  width: 100%;
  height: 320px;
  resize: vertical;
}
#praisal-input .btn{
  width: 100%;
  margin: 5px 0;
}
#list .btn{
  width: 138px;
  margin-bottom: 5px;
  margin-top: 5px;
}